.navheight{
    height: 125px;
}

li{
    cursor: pointer;
  }

.boton-externo{
    display: none;
}

  @media only screen and (max-width: 990px) {
    .boton-eliminar {
        display: none;
    }
    
    .boton-externo{
        display: flex;
    }
    
  }

  .boton {
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
  }
  
  .boton:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  }
  
  .boton:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  .boton:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }

  .body-background {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#461c70 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    height: 100vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}